# Python / Jupyter
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.DS_Store

# Entornos
.env
.venv/
venv/
env/
*.sqlite

# Modelos y artefactos
models/
*.pkl
*.joblib

# Datos (permitimos un CSV chico de ejemplo si querés)
!data/
!data/**


# Reportes generados
reports/figures/
reports/*.pdf
reports/*.html

# VSCode / IDEs
.vscode/
.idea/
