# Núcleo científico
numpy>=1.26
pandas>=2.2
scipy>=1.11

# Modelado
scikit-learn>=1.4
imbalanced-learn>=0.12    # por si tu clase positiva es minoritaria

# Visualización
matplotlib>=3.8
seaborn>=0.13

# Notebook
jupyter>=1.0
ipykernel>=6.29

# Utilidades
joblib>=1.3

# OPCIONALES (descomenta si vas a usarlos)
# graphviz>=0.20.3         # para visualizar árboles (requiere instalar Graphviz del SO)
# pydotplus>=2.0.2
